version: '2'
services:
    redis:
        image: redis:alpine
        container_name: qualibet-redis
    mysql:
        image: mysql:5.7
        volumes:
            - /home/stephen/docker-cache/mysql:/var/lib/mysql
        container_name: qualibet-mysql
        ports:
         - "9911:3306"
        environment:
            MYSQL_ALLOW_EMPTY_PASSWORD: 1
            MYSQL_USER: root
            MYSQL_PASSWORD: root
    webserver:
        image: nginx:alpine
        container_name: qualibet-webserver
        volumes:
            - /home/stephen/qualibet:/var/www/html/qualibet
            - ./nginx/api.conf:/etc/nginx/conf.d/api.conf
            - ./nginx/worker.conf:/etc/nginx/conf.d/worker.conf
            - ./nginx/myplace-backend.conf:/etc/nginx/conf.d/myplace-backend.conf
            - ./nginx/cs-backend.conf:/etc/nginx/conf.d/cs-backend.conf
        ports:
          - "80:80"
        expose:
          - "9000"
    schuhedeserver:
        image: nginx:alpine
        container_name: schuhede-webserver
        volumes:
            - /home/stephen/qualibet:/var/www/html/qualibet
            - ./nginx/schuhede-api.conf:/etc/nginx/conf.d/schuhede-api.conf
        ports:
          - "88:80"
        expose:
          - "9900"
    php:
        build:
            context: ./php72
        container_name: qualibet-php
        working_dir: /var/www/html/qualibet
        volumes:
            - /home/stephen/qualibet:/var/www/html/qualibet
            - ./php72/php-ini-overrides.ini:/usr/local/etc/php/conf.d/overrides.ini
            - ./php72/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini
        environment:
              PHP_IDE_CONFIG: "serverName=docker"
              PHP_XDEBUG_ENABLED: 1
              XDEBUG_CONFIG: remote_host=<ip of host machine>