version: '2'
services:
    redis:
        image: redis:alpine
        container_name: qualibet-redis
    mysql:
        image: mysql:5.7
        volumes:
            - /home/<UBUNTU-USER-NAME>/docker-cache/mysql:/var/lib/mysql
        container_name: qualibet-mysql
        ports:
         - "9911:3306"
        environment:
            MYSQL_ALLOW_EMPTY_PASSWORD: 1
            MYSQL_USER: root
            MYSQL_PASSWORD: root
    webserver:
        image: nginx:alpine
        container_name: qualibet-webserver
        volumes:
            - /home/<UBUNTU-USER-NAME>/qualibet:/var/www/html/qualibet
            - ./nginx/api.conf:/etc/nginx/conf.d/api.conf
            - ./nginx/worker.conf:/etc/nginx/conf.d/worker.conf
            - ./nginx/myplace-backend.conf:/etc/nginx/conf.d/myplace-backend.conf
            - ./nginx/cs-backend.conf:/etc/nginx/conf.d/cs-backend.conf
        ports:
         - "80:80"
    php:
        build:
            context: ./php72
        container_name: qualibet-php
        working_dir: /var/www/html/qualibet
        volumes:
            - /home/<UBUNTU-USER-NAME>/qualibet:/var/www/html/qualibet
            - ./php72/php-ini-overrides.ini:/usr/local/etc/php/conf.d/overrides.ini